

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-ThinItalic.ttf');
	 font-weight: 100;
	font-style:italic;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
	 font-weight: 100;
	font-style:normal;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
	 font-weight: 400;
	font-style:italic;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-MediumItalic.ttf');
	 font-weight: 500;
	font-style:italic;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
	 font-weight: 500;
	font-style:normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
	 font-weight: 700;
	font-style:italic;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
	 font-weight: 700;
	font-style:normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
	 font-weight: 900;
	font-style:italic;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
	 font-weight: 900;
	font-style:normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
	 font-weight: 300;
	font-style:italic;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
	 font-weight:300;
	font-style:normal;
}


@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
	 font-weight: 400;
	font-style:normal;
}

body {
	margin: 0%;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	}

.grey_body{
	background-color: #F8F8FF;
}

.black_body{
	background-color: #000;
	
}

footer{
	width: 100vw;
	background-color: white;
	color: #A5A5E4;
	padding: 20px;
	text-align: center;
	font-size: 15px;	
}





/* General style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
	transform-style: preserve-3d;
}

.grid figure {
	
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	margin: 1.5vw;
	
}

.grid li:hover figure img {
	opacity: 0.3;
}

.grid li:hover figcaption {
	opacity: 1;
}

.grid figcaption {
	color: white;
	z-index: 3;
	font-size: 1.3vw;
	margin: auto;
	position: absolute;
	text-align: center;
	opacity: 0;
	display: block;
	width: 100%;
	top: 45%;
	text-transform: uppercase;
	letter-spacing: 0.7vw;
}


/* Slideshow style */
.slideshow {
	position: fixed;
	background: white;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.2s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 80%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 10%;
	margin: 0 0 0 0;
	visibility: hidden;
	
	
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	width: 100%;
	height: 100%;
	background: #F8F8FF;
	
}

.slideshow figcaption {
	padding-top: 3vw;
	padding-right: 5vw;
	padding-left: 5vw;
	padding-bottom: 5vw;
	position: fixed;
	top: 80%;
	width: 40vw;
	height: 20%;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.slideshow figcaption:hover{
	top:20%;
	height: 100%;
}

.slideshow figcaption:hover ~ .image_container{
	width: 50%;
}

.slideshow figcaption:hover p{
	opacity: 1;
}



.image_container {
	width: 100%;
    height: 80%;
	max-height: 800px;
	float:right;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
	top: 0vh;

}



.slideshow img {
	max-height:100%;
	width: auto;
	object-fit: contain;
}

/*.image_rotate {
	-webkit-transition: all 2s;
-moz-transition: all 2s;
-o-transition: all 2s;
transition: all 2s;

}*/

/*.image_rotate:active{
	 transform: rotate(180deg);
}*/



.rotate {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.rotate90 {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.rotate90.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

#rotate_circle{
	position: absolute;
	height: 35px;
	width: 35px;
	z-index: 3000;
	opacity:1;
    pointer-events:none;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 30px;
	padding-bottom: 7%;
}

.slideshow figcaption p {
	font-weight: 300;
	color: #7F7FB5;
	width: 50%;
	min-width: 300px;
	line-height: 180%;
	padding-top: 5vh;
	font-size: 16px;
	opacity: 0;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}


/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	padding: 5%;
	cursor: pointer;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 3%;
	color: #31373a;
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
}

.info-keys:after {
	right: 10px;
}



#logo_shadow_container{
	
	width:50%;
	height: 50vh;
	position: absolute;
	top:49.8vh;
	left: 22.5%;
	z-index: 30;
}

#logo_shadow_container2{
	
		z-index: 7;
	top:8vh;		
	height:5vh;
	width:20%;
	left:39%;
	position:fixed;
}

#logo_shadow{
	position: relative;
   left: 40%;
	width:30%;
	z-index: 20;
	cursor: pointer;
	
}



#logo_container{
	position: relative;
	width:50%;
	height: 50vh;
	left: 22.5%;
	z-index: 31;
	
}

#logo_container2{
	z-index: 8;		
	height:8vh;
	width:20%;
	left:39%;
	position:fixed;
	
}

#logo{
	bottom: 0;
	position:absolute;
   left: 40%;
	width:30%;
	z-index: 21;
	cursor: pointer;
	
}

#logo_all{
	
	width:100%;
	height: 100vh;
	
}

#light_circle{
	top:10%;
	border-radius: 50%;
	 width: 80vh;
    height:80vh;
	background-color: white;
	position:absolute;
	z-index: 0;
	left:25vw;
	
}

#work{
	position: absolute;
	width: 10vw;
	font-size: 1.5vw;
	text-align: center;
	bottom: -1vh;
	left: 7vw;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
	
}
#work_container{
	position: absolute;
	height: 50vh;
	width: 50vw;
	top: 0;
	
	
}

#sensor_work{

position: absolute;
width: 25vw;
height: 100vh;
opacity: 0;
z-index: 6;
cursor: pointer;


}

#sensor_work:hover ~ #work{
	font-size: 6vw;
	font-weight: 600;	
	bottom: 5vh;
	color: white;

}

#sensor_work:hover ~ #line_work_container{
	
	left: -10vw;
	opacity: 0;

}

#sensor_work:hover ~ #work_back{
	
	left: 0vw;

}

#sensor_work:hover ~ #line_work_back{
	
	left: 7.5vw;
	opacity: 1;

}

#work_back{
	
	width: 30vw;
	height: 100vh;
	position: absolute;
	left: -50vw;
	background-color: #000;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
	
}

#line_work_back{

top: 48vh;
position: absolute;	
left: 12vw;
opacity: 0;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;

}

#line_work{

stroke:black;
stroke-width:3;


}

#line_work_container{

top: 48vh;
position: absolute;	
left: 19vw;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;

}

#line_about{

stroke:black;
stroke-width:3;


}

#line_about_container{

top: 48vh;
position: absolute;	
right: 19vw;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;

}



#about{
	position: absolute;	
	width: 10vw;
	font-size: 1.5vw;
	text-align: center;
	bottom: -1vh;
	right: 7vw;
	
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}

#about_container{
	position: absolute;
	height: 50vh;
	width: 50vw;
	top: 0;
	right: 0;
	
	
}

#sensor_about{

position: absolute;
width: 25vw;
height: 100vh;
opacity: 0;
z-index: 6;
right: 0;
cursor: pointer;

}

#sensor_about:hover ~ #about{
	font-size: 6vw;
	font-weight: 600;	
	bottom: 5vh;
	color: white;
	right: 13vw;

}

#sensor_about:hover ~ #line_about_container{
	
	right: -10vw;
	opacity: 0;

}

#sensor_about:hover ~ #about_back{
	
	right: 0vw;

}

#sensor_about:hover ~ #line_about_back{
	
	right: 7.5vw;
	opacity: 1;

}

#about_back{
	
	width: 30vw;
	height: 100vh;
	position: absolute;
	right: -50vw;
	background-color: #000;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
	
}

#line_about_back{

top: 48vh;
position: absolute;	
right: 12vw;
opacity: 0;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;

}

#menu{

z-index: 3;
top: 0;
position: fixed;
height: 16vh;
width: 100vw;
opacity: 0;
background-color: white;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}

#menu.dark{
	
	background-color: black;
	z-index: 6;
	color: white;
	
}

#menu_work{
	position: absolute;
	width: 10vw;
	font-size: 1.5vw;
	text-align: center;
	left: 7vw;	
	top: 6vh;
}


#menu_about{
	position: absolute;
	width: 10vw;
	font-size: 1.5vw;
	text-align: center;
	right: 8vw;	
	top: 6vh;
}

#menu_line_work_container{

top: 6vh;
position: absolute;	
left: 19vw;

}

#menu_line_work{

stroke:black;
stroke-width:3;

}

#menu_line_work.dark{
stroke:white;
}

#menu_line_about_container{

top: 6vh;
position: absolute;	
right: 20vw;

}

#menu_line_about{

stroke:black;
stroke-width:3;

}

#menu_line_about.dark{
stroke:white;
}


#gallery_darcria{
	background-image: url('../img/large/Vier-Nev-Dar-Cria-Virtual-Reality-Experience-Art-Multistable-Perception-Optical-Illusion.jpg');
	background-size: 100% auto;
	width: 94vw;
	height: 40vh;
	margin: 2.5vw;
	cursor: pointer;
	background-position: center center;
}

#gallery_darcria:hover{

background-image: url('../img/large/Vier-Nev-Dar-Cria-Logo-Virtual-Reality-Experience-Art-Multistable-Perception-Optical-Illusion.jpg');

}

/*DAR CRIA*/

.logo_darcria_video_container{
    
    background-color:#000000;
	width:100%; 
	height: 50vw;
	position: absolute;
	
}

.logo_darcria_video{
    
  	margin: 0%;
	width:100%; 
	height: 100%;
	display:block;
	 padding: 0px;
	  border: 0px;
	z-index: 0;
	
}

.darcria_text{
	opacity: 0;

}

#darcria_description1{
	z-index: 3;
	color: white;
	font-weight: 100;
	font-size: 4vw;
	position: absolute;
	width: 40%;
	top: 47vw;
	left: 50vw;
}


#darcria_description2{
	z-index: 3;
	color: white;
	font-weight: 300;
	font-size: 2vw;
	position: absolute;
	width: 35%;
	top: 115vw;
	left: 20vw;
	line-height: 3vw;
	padding: 2vw;
	background: rgba(0,0,0,0.5);
}

#darcria_description3{
	z-index: 3;
	color: white;
	font-weight: 300;
	font-size: 2vw;
	position: absolute;
	width: 35%;
	top: 205vw;
	left: 50vw;
	line-height: 3vw;
		padding: 2vw;
	background: rgba(0,0,0,0.5);
}

#darcria_description4{
	z-index: 3;
	color: white;
	font-weight: 100;
	font-size: 4vw;
	position: absolute;
	width: 40%;
	top: 320vw;
	left: 40vw;
}

#darcria_description5{
	z-index: 3;
	color: white;
	font-weight: 300;
	font-size: 20px;
	position: absolute;
	width: 600px;
	top: 390vw;
	left: 15vw;
	line-height: 30px;
}


.darcria_gif{
	position: absolute;
	max-width: 650px;
	opacity: 0;
	}


#darcria_gif1{
	width: 40vw;
	z-index: 1;
	top: 60vw;
	left: 20vw;
	}

#darcria_gif2{
	width: 30vw;
	z-index: 1;
	top: 90vw;
	left: 40vw;
	}

#darcria_gif3{
	width: 30vw;
	z-index: 1;
	top: 130vw;
	left: 10vw;
	}

#darcria_gif4{
	width: 30vw;
	z-index: 1;
	top: 155vw;
	left: 40vw;
	}

#darcria_gif5{
	width: 40vw;
	z-index: 1;
	top: 180vw;
	left: 20vw;
	}
#darcria_gif6{
	width: 40vw;
	z-index: 1;
	top: 220vw;
	left: 40vw;
	}

#darcria_gif7{
	width: 40vw;
	z-index: 1;
	top: 250vw;
	left: 10vw;
	}

#darcria_gif8{
	width: 40vw;
	z-index: 1;
	top: 280vw;
	left: 40vw;
	}

#darcria_gif9{
	width: 30vw;
	z-index: 1;
	top: 305vw;
	left: 20vw;
	}

#darcria_gif10{
	width: 40vw;
	z-index: 1;
	top: 340vw;
	left: 40vw;
	}

#darcria_gif11{
	width: 30vw;
	z-index: 1;
	top: 370vw;
	left: 30vw;
	margin-bottom: 30vw;
	}

#darcria_logo{
	width: 20vw;
	z-index: 1;
	top: 430vw;
	left: 40vw;
	margin-bottom: 5vw;
	position: absolute;
	opacity: 1;
	}

/*social media*/

#socialmedia_container{
	width: 200px;
	height: 30px;
	z-index: 2000;
	top: 87vh;
	right: 15vw;
	position: fixed;
	}

.socialmedia_icon{
	
	margin: 10px;
	height: 23px;
	cursor: pointer;
	}

a:link {
    text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: none;
	color: black;
}

a:active {
    text-decoration: none;
	color: black;
}

a:link.dark{
	color: white;
}

a:visited.dark {
	color: white;
}

a:hover.dark {
	color: white;
}

a:active.dark {
	color: white;
}

/*ABOUT*/

#about_text_container{
	width: 40vw;
	position: absolute;
	height: 70vh;
	left: 50vw;
	top: 23vh;
}

#about_text_container h1{
	font-size: 1.8vw;
	font-weight: 500;
	padding-top: 3vw;
	padding-bottom: 3vw;
}

#about_text_container h2{
	font-size: 1.2vw;
	font-weight: 400;
	color: #2F2F4C;
	padding-right: 9vw;	
	padding-bottom: 4vw;
}

#about_text_container #viernev_email{
	font-size: 1.2vw;
	font-weight: 500;
	color: #7B7BFF;
	padding-right: 9vw;	
}

#socialmedia_container2{
	width: 40vw;
	padding-left: 0.5vw;	
}


.rotate_warning{
	position: absolute;
	color: #9090BD;
	font-size: 17px;
	top: 88vh;
	margin-left: 40%;
	margin-bottom: auto;
	width: 30%;
	text-transform: uppercase;
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	
	#loader{
	opacity:0;
		width: 0;
		height: 0;
}

	
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}
	
	
	#work_container{
		display: none;
	}
	
	#about_container{
		display: none;
	}
	
	#light_circle{
		display: none;
	}
	
	#logo_shadow_container,#logo_shadow_container2{
		position: fixed;
		width: 40%;
		height: 5vh;
		top: 92vh;
		left: 30%;
	}
	
	#logo_container,#logo_container2{
		position: fixed;
		width: 40%;
		height: 5vh;
		top: 87vh;
		left: 30%;
	}
	
	
	
	#logo_all{
		height: 0vh;
		
	}
	
	#logo{
	bottom: 0;
	position:absolute;
   left: 35%;
	width:45%;
	z-index: 21;
	cursor: pointer;
	
}
	
	#logo_shadow{
	position: relative;
   left: 35%;
	width:45%;
	z-index: 20;
	cursor: pointer;
	
}

	
	#menu{
		opacity: 1;
		top: 84vh;
		position: fixed;
		height: 16vh;
		width: 100vw;
	}
	
	#menu_work{
		position: fixed;
		width: 10vw;
		font-size: 25px;
		text-align: center;
		left: 12vw;	
		top: 89vh;
		z-index: 40;
	}
	
	#menu_about{
		position: fixed;
		width: 10vw;
		font-size: 25px;
		text-align: center;
		right: 19vw;	
		top: 89vh;
		z-index: 40;
	}
	
	#menu_line_work_container{

	top: 95vh;
	position: fixed;	
	left: 10vw;

	}
	
	#menu_line_about_container{

	top: 95vh;
	position: fixed;	
	right: 10vw;

	}
	
	
	.slideshow figcaption {
	padding-top: 2vw;
	padding-right: 5vw;
	padding-left: 10vw;
	padding-bottom: 1vw;
	position: fixed;
	top: 70%;
	width: 90vw;
	height: 100%;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.slideshow figcaption:hover{
	top:70%;
	height: 100%;
}

.slideshow figcaption:hover ~ .image_container{
	width: 100%;
}

.slideshow figcaption:hover p{
	opacity: 1;
}
	
	.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 25px;
	padding-bottom: 1vw;
}

.slideshow figcaption p {
	font-weight: 400;
	color: #7F7FB5;
	width: 80vw;
	line-height: 180%;
	padding-top: 1vh;
	min-width: 60vw;
	font-size: 14px;
	opacity: 1;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}

	
	.image_container {
	width: 100%;
    height: 70%;
	float:right;
	-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
	top: 0vh;

}

	#socialmedia_container{
	width: 200px;
	height: 30px;
	z-index: 2000;
	top: 92vh;
		left: 25vw;
	position: fixed;
	}

.socialmedia_icon{
	
	margin: 15px;
	height: 20px;
	cursor: pointer;
	}

#darcria_description1{

	font-weight: 400;
	font-size: 6vw;
	position: absolute;
	width: 70%;
	left: 10vw;
}

#darcria_description2{

	font-weight: 300;
	font-size: 4vw;
	line-height: 8vw;
	position: absolute;
	width: 50%;
	left: 30vw;
}	
	
#darcria_description3{

	font-weight: 300;
	font-size: 4vw;
	line-height: 8vw;
	position: absolute;
	width: 50%;
	left: 10vw;
}	
	
	
	
#darcria_description4{

	font-weight: 300;
	font-size: 6vw;
	position: absolute;
	width: 50%;
	left: 10vw;
	
}	
	
#darcria_description5{

	font-weight: 300;
	font-size: 4vw;
	line-height: 8vw;
	position: absolute;
	width: 80%;
	left: 5vw;
	
}	
	
#darcria_logo{
	width: 20vw;
	z-index: 1;
	top: 540vw;
	left: 40vw;
	margin-bottom: 40vw;

	}
	
/*ABOUT*/

#about_text_container{
	width: 70vw;
	position: absolute;
	height: 70vh;
	left: 0vw;
	top: 0vh;
	padding: 10vw;
}

#about_text_container h1{
	font-size: 6vw;
	font-weight: 500;
	padding-top: 10vw;
	padding-bottom: 10vw;
}

#about_text_container h2{
	font-size: 3.5vw;
	font-weight: 400;
	color: #2F2F4C;
	padding-right: 9vw;	
	padding-bottom: 4vw;
}

#about_text_container #viernev_email{
	font-size: 3.5vw;
	font-weight: 500;
	color: #7B7BFF;
	padding-right: 9vw;	
}

#socialmedia_container2{
	width: 50vw;
	position: fixed;
	top: 6vw;
	left: 45vw;
}
	
.rotate_warning{
	font-size: 14px;
	top: 88vh;
	margin-left: 50%;	
	width: 70%;
}

#gallery_darcria{
	background-image: url('../img/large/Vier-Nev-Dar-Cria-Logo-VR-Virtual-Reality-Experience-Art-Multistable-Perception-Optical-Illusion.jpg');
	
}
	
	#gallery_darcria:hover{

background-image: url('../img/large/Vier-Nev-Dar-Cria-Logo-VR-Virtual-Reality-Experience-Art-Multistable-Perception-Optical-Illusion.jpg');

}
	
	footer{
	width: 100vw;
	background-color: white;
	color: #A5A5E4;
	padding-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 30vw;
	text-align: center;
	font-size: 12px;
}
	
	
	.grid li:hover figure img {
	opacity: 1;
}

.grid li:hover figcaption {
	opacity: 0;
}
	
	
	
}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
	.rotate_warning{
	font-size: 14px;
	top: 88vh;
	margin-left: 22%;	
	width: 70%;
}
	#gallery_darcria{
	background-image: url('../img/large/Vier-Nev-Dar-Cria-Logo-Small-Virtual-Reality-Experience-Art-Multistable-Perception-Optical-Illusion.jpg');
	
}
	
	#gallery_darcria:hover{

background-image: url('../img/large/Vier-Nev-Dar-Cria-Logo-Small-Virtual-Reality-Experience-Art-Multistable-Perception-Optical-Illusion.jpg');

}
	
	
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
	
	.slideshow figcaption p {

	font-size: 11px;
	
}
	
	.slideshow figcaption h3 {
	font-size: 20px;
}
	
}
